
/* FDSN-style font baseline */
body {
  font-family: "Quattrocento Sans", Avenir, Helvetica, Arial, sans-serif;
}

/* Keep the logo from dominating the upper search pane */
.logo {
  max-height: 80px;
}

/* Set colors for search and navigation sidebar */
.wy-side-nav-search,
.wy-side-nav-search > a,
.wy-side-nav-search > div.version,
.wy-nav-top {
  color: black;
  background: white;
}

.wy-menu-vertical header,
.wy-menu-vertical p.caption {
  color: lightgray;
  font-weight: bolder;
}

.wy-menu-vertical a,
.wy-menu-vertical li.current > a {
  color: white;
}

.wy-menu-vertical li.toctree-l2 a,
.wy-menu-vertical li.toctree-l3 a,
.wy-menu-vertical li.toctree-l4 a,
.wy-menu-vertical li.toctree-l5 a,
.wy-menu-vertical li.toctree-l6 a {
  color: #404040;
}

.wy-nav-side {
  color: black;
  background: rgb(51,123,184); /* Darker blue */
}

.wy-menu-vertical li.toctree-l1.current > a,
.wy-menu-vertical li.toctree-l1.current {
  background: rgb(116,182,236); /* Medium blue */
  border-bottom: rgb(116,182,236);
  border-top: rgb(116,182,236);
}

.wy-menu-vertical li.toctree-l2.current > a,
.wy-menu-vertical li.toctree-l2.current,
.wy-menu-vertical li.toctree-l2.current li.toctree-l3 > a {
  background: rgb(207,226,242); /* Light blue */
}

.wy-menu-vertical li.toctree-l2.current li.toctree-l3 a:hover {
  background: #d6d6d6;
}

.wy-menu-vertical li.toctree-l2.current li.toctree-l3.current > a {
  background: white;
}
